<div class="well">
  <%= simple_form_for Phrase.new, remote: true, html: { class: "form-inline" } do |f| %>

    <%= f.input_field :text,
        as: :string,
        placeholder: "Who",
        label: false,
        class: "input-small",
        data: {
          source: Speaker.all.map(&:name),
          provide: "typeahead"
        } %>

    said

    <%= f.input_field :text,
      as: :string,
      placeholder: "what?",
      label: false %>

    <%= f.submit "Save", class: "btn" %>

  <% end %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Who</th>
      <th>What</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.phrases.each do |phrase| %>
      <tr><td><%= phrase.speaker.name %></td><td><%= phrase.text %></td></tr>
    <% end %>
  </tbody>
</table>
