<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <%= link_to "Who Said", root_path, class: "brand" %>

      <% if current_user %>
        <form class="navbar-form pull-right form-search">
          <input type="text" class="input search-query">
          <button type="submit" class="btn btn-success">Search</button>
        </form>
      <% else %>
        <%= simple_form_for UserSession.new, html: { class: "navbar-form pull-right" } do |f| %>
          <%= f.input_field :email, placeholder: "Email", class: "span2" %>
          <%= f.input_field :password, placeholder: "Password", class: "span2" %>
          <%= f.submit "Login", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>