<!DOCTYPE html>
<html>
  <head>
    <title>Who Said?</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <%= link_to "Who Said", root_path, class: "brand" %>

          <ul class="nav pull-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Hello, <%= current_user.first_name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><%= link_to "Logout", logout_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>


        
        </div>
      </div>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>
  
  </body>
</html>
